@layer layouts {
  .page-realestates {
    @media (--tablet) {
      .sidebar .person {
        position: sticky;
        top: var(--header-offset-scroll-up);
        z-index: 1;
        html.is-scrolling-down & {
          top: var(--header-offset);
        }
      }
    }
  }
}